<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>8462471851911543</sid>
    <event-sheet>Menu sheet</event-sheet>
    <size>
        <width>1280</width>
        <height>1024</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Bottom" sid="7785903908376563">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Sprite3" uid="8">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <effect-instances>
                        <effect-instance type="WaterBackground">
                            <parameters>
                                <angle>7</angle>
                                <delta>20</delta>
                                <emboss>0.3</emboss>
                                <frequency>4</frequency>
                                <intensity>3</intensity>
                                <reflectivity>400</reflectivity>
                                <speed>0.1</speed>
                                <x-speed>0.3</x-speed>
                                <y-speed>0.3</y-speed>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-663</x>
                        <y>-566</y>
                        <z>0</z>
                        <width>1110.181762695</width>
                        <height>1348.077880859</height>
                        <depth>0</depth>
                        <hotspotX>-0.684385359</hotspotX>
                        <hotspotY>-0.280437768</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Hud" sid="1903071988933586">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Continue_btn" uid="9">
                    <properties>
                        <left-margin>16</left-margin>
                        <right-margin>16</right-margin>
                        <top-margin>16</top-margin>
                        <bottom-margin>16</bottom-margin>
                        <edges>Stretch</edges>
                        <fill>Stretch</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <effect-instances>
                        <effect-instance type="HardLight" />
                        <effect-instance type="Difference" />
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>1</effect-fallback>
                    <world>
                        <x>433</x>
                        <y>374</y>
                        <z>0</z>
                        <width>414</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>0.899999976</opacity>
                    </world>
                </instance>
                <instance type="Sprite2" uid="10">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>638</x>
                        <y>242</y>
                        <z>0</z>
                        <width>393</width>
                        <height>201</height>
                        <depth>0</depth>
                        <hotspotX>0.519083977</hotspotX>
                        <hotspotY>0.50248754</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="teksti" uid="11">
                    <properties>
                        <text>Profile 1</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-48,700,0</font>
                        <color>255,255,153</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>430</x>
                        <y>374</y>
                        <z>0</z>
                        <width>416</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Continue_btn" uid="12">
                    <properties>
                        <left-margin>16</left-margin>
                        <right-margin>16</right-margin>
                        <top-margin>16</top-margin>
                        <bottom-margin>16</bottom-margin>
                        <edges>Stretch</edges>
                        <fill>Stretch</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <effect-instances>
                        <effect-instance type="HardLight" />
                        <effect-instance type="Difference" />
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>1</effect-fallback>
                    <world>
                        <x>429</x>
                        <y>469</y>
                        <z>0</z>
                        <width>414</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>0.899999976</opacity>
                    </world>
                </instance>
                <instance type="Continue_btn" uid="14">
                    <properties>
                        <left-margin>16</left-margin>
                        <right-margin>16</right-margin>
                        <top-margin>16</top-margin>
                        <bottom-margin>16</bottom-margin>
                        <edges>Stretch</edges>
                        <fill>Stretch</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <effect-instances>
                        <effect-instance type="HardLight" />
                        <effect-instance type="Difference" />
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>1</effect-fallback>
                    <world>
                        <x>427</x>
                        <y>567</y>
                        <z>0</z>
                        <width>414</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>0.899999976</opacity>
                    </world>
                </instance>
                <instance type="Continue_btn" uid="16">
                    <properties>
                        <left-margin>16</left-margin>
                        <right-margin>16</right-margin>
                        <top-margin>16</top-margin>
                        <bottom-margin>16</bottom-margin>
                        <edges>Stretch</edges>
                        <fill>Stretch</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <effect-instances>
                        <effect-instance type="HardLight" />
                        <effect-instance type="Difference" />
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>1</effect-fallback>
                    <world>
                        <x>428</x>
                        <y>673</y>
                        <z>0</z>
                        <width>414</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>0.899999976</opacity>
                    </world>
                </instance>
                <instance type="Continue_btn" uid="18">
                    <properties>
                        <left-margin>16</left-margin>
                        <right-margin>16</right-margin>
                        <top-margin>16</top-margin>
                        <bottom-margin>16</bottom-margin>
                        <edges>Stretch</edges>
                        <fill>Stretch</fill>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                        <seams>Overlap</seams>
                    </properties>
                    <effect-instances>
                        <effect-instance type="HardLight" />
                        <effect-instance type="Difference" />
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>1</effect-fallback>
                    <world>
                        <x>429</x>
                        <y>807</y>
                        <z>0</z>
                        <width>414</width>
                        <height>69</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <opacity>0.899999976</opacity>
                    </world>
                </instance>
                <instance type="Centerpoint" uid="20">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="DragDrop">
                            <properties>
                                <axes>Both</axes>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="ScrollTo">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>636</x>
                        <y>515</y>
                        <z>0</z>
                        <width>12</width>
                        <height>14</height>
                        <depth>0</depth>
                        <hotspotX>0.416666657</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="teksti" uid="13">
                    <properties>
                        <text>Profile 2</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-48,700,0</font>
                        <color>255,255,153</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>430</x>
                        <y>472</y>
                        <z>0</z>
                        <width>416</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="teksti" uid="15">
                    <properties>
                        <text>Profile 3</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-48,700,0</font>
                        <color>255,255,153</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>430</x>
                        <y>572</y>
                        <z>0</z>
                        <width>416</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="teksti" uid="17">
                    <properties>
                        <text>New profile</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-48,700,0</font>
                        <color>255,255,153</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>430</x>
                        <y>677</y>
                        <z>0</z>
                        <width>416</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="teksti" uid="19">
                    <properties>
                        <text>Options</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-48,700,0</font>
                        <color>255,255,153</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>430</x>
                        <y>810</y>
                        <z>0</z>
                        <width>416</width>
                        <height>75</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
